{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Basic Travel Itenerary Generator</title>

    <!-- daterange imports -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


	<!-- Bootstrap Date-Picker Plugin --><!-- 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> -->

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{%static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/creative.css' %}" rel="stylesheet">
    <link href="{%static 'css/custom_style.css' %}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/index2.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script type="text/javascript">
      $(function() {

        $( "#id_start_date" ).datepicker({
          changeMonth: true,
          changeYear: true,
          minDate: 0,
        });
        $( "#id_end_date" ).datepicker({
          changeMonth: true,
          changeYear: true,
          minDate: 0,
        });
      });
    </script>



    {% load bootstrap3 %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <style>
      .image {
        background-image: url("{% static 'img/header.jpg' %}") !important;
      }
      .combo-label {margin-bottom:.5em;}

      #city {
        width: 100%;
        background-color: rgba(255,255,255,0.6);
        border-radius: 7px;
        height: 40px;
        border: none;
        color: #000 !important;
        font-size: 15px;
        padding-left: 15px;
      }

      #dates {
        width: 100%;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 0.6);
        height: 40px;
        border: none;
        color: #000;
        font-size: 15px;
        padding-left: 15px;
      }

      #multiselectDropDown {
          width:80%;
          height:5em;
          border:solid 1px #e6e6e6;
          overflow:auto;
          margin-bottom: 1em;
          margin-left: 10%;
          text-align: left;
          background-color: rgba(255, 255, 255, 0.6);
          color: #000;
          border-radius: 7px;
          margin-top: 1em;
      }
       
    /*  .multiselect label {
          display:block;
      }
*/       
      .multiselect-on {
          color:#ffffff;
          background-color:#000099;
      }
      #typebutton {
        text-decoration: none !important;
        background-color: #f2f2f2;
        border: solid 1px #cccccc;

      }

      label {
        font-weight: 300 !important;
      }

      td {
        margin-right: 20px !important; 
      }
      .form {
/*        border: solid 1px #000000 !important;
*//*        background-color: rgba(0, 0, 0, 0.5);
*/      }
    </style>

<!-- for date range
 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />





  </head>

  <body id="page-top" style="font-family: Helvetica, Arial, sans-serif !important;">
    <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Itenerary Planner</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav> -->

    <header class="masthead text-center text-white d-flex image">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Itenerary planner</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
          
            <form method="post" class="form">
              <br><br>
              {% csrf_token %}
              {% bootstrap_form form error_types='all'%}

        <!-- 
        change start -->
<!--               City<br>
 -->              <input list="cities" name="city" id="city" autocomplete="off" style="width: 50%;" placeholder="Enter City">
              <datalist id="cities">
                {% for city in city_list %}
                  <option value="{{city}}"/>
                {% endfor %}
              </datalist><br/>
              <div id="errorCity" class="alert alert-danger" style="width:50%; line-height: 5px; margin-left: 25%; visibility: hidden;">
                <strong>Invalid city name</strong>
              </div>
<!--               Date<br>
 -->
              <input id="dates" name="dates" autocomplete="off" placeholder="Enter Date" style="width: 50%"><br/><br/>
              <a href="javascript:showTypeOptions()" style="text-decoration: none ;color:#4d4d4d !important;font-size: 17px; " id="changeArrow">Preferences<span class="glyphicon glyphicon-chevron-down"></span></a>
              <div id="multiselectDropDown" style="visibility: hidden">
                <table style="margin-left: 70px; margin-right: 20px">
                  <tr>
                  {% for type in type_list %}
                    <td>
                      <input id="type-{{type}}" type="checkbox" name="type-{{type}}" value="yes">
                      <label for="type-{{type}}">{{type}}</label>&nbsp;
                    </td>
                    {% if forloop.counter|divisibleby:4 %}
                      </tr><tr>
                    {% endif %}
                  {% endfor %}
                </tr>
                </table>
              </div>
              <br>
              <br>

              <input type="submit" name="submit" value="Generate Itenerary" onclick="return checkWrongCity()" class="btn btn-primary btn-xl js-scroll-trigger" style="width: 50% !important">
              <br><br>
            </form>






          </div>
        </div>
      </div>
    </header>
<!-- 
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Plan your itenerary</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>



    <form style="margin-left:25%" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form error_types='all'%}
 -->
<!-- 
change start -->
  <!--     City<br/>
      <input list="cities" name="city" id="city" autocomplete="off" style="width: 70%">
      <datalist id="cities">
        {% for city in city_list %}
          <option value="{{city}}"/>
        {% endfor %}
      </datalist><br/>
      <div id="errorCity" class="alert alert-danger" style="width:70%; line-height: 5px; visibility: hidden;">
        <strong>Error!</strong> City has been destroyed! go to different city
      </div>

      Date<br>
      <input name="dates" autocomplete="off" style="width: 70%"><br/><br/>
      Types<br>
      <a id="typebutton" href="javascript:showTypeOptions()" style="color:#000 !important; ">Select Types</a>
      <div class="multiselect" id="multiselectDropDown" style="display: none;">
      {% for type in type_list %}
        <input id="type-{{type}}" type="checkbox" name="type-{{type}}" value="yes" />
        <label for="type-{{type}}">{{type}}</label><br>
      {% endfor %}
      </div>
      <br>
      <br>

      <input type="submit" name="submit" value="Generate Itenerary" onclick="return checkWrongCity()">
 -->
      <!-- Date<br/>
      <input name="dates"><br/> -->
<!-- 
change end -->
<!-- 
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "thumb" %} Submit
        </button>
      {% endbuttons %} -->
   <!--  </form>

 -->


    <script>
      $('input[name="dates"]').daterangepicker({
          "startDate": "08/31/2018",
          "endDate": "08/31/2018",
          "minDate": "08/31/2018",
          "maxDate": "09/30/2018"
      }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });

    </script>
   <!--  </section>
 -->

   <!--  <script>
    $(function() {
      var date = $( "#id_start_date" ).datepicker({
        dateFormat: 'dd-mm-yy',
        changeMonth: true,
        changeYear: true,
        minDate: 0,
      });

      $( "#id_end_date" ).datepicker({
        dateFormat: 'dd-mm-yy',
        changeMonth: true,
        changeYear: true,
        minDate: 0,
        // You can put more options here.

      });
      console.log(new Date(date))
    });
    </script> -->

    <script type="text/javascript">
      $(document).ready(function() {
        
        $('.form-group input, .form-group select').change(function() {
          updateConfig();
        })
        function updateConfig() {

          var date = $("#id_start_date").datepicker( 'getDate' );
          console.log(date);
          // $( "#id_end_date" ).datepicker({
          //   dateFormat: 'dd-mm-yy',
          //   changeMonth: true,
          //   changeYear: true,
          //   minDate: date,
          //   // You can put more options here.

          // });
          $('#id_end_date').datepicker('option', 'minDate', date);
        }
      });
      </script>
    

  </body>

</html>
