
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

header,
nav,
section {
	display: block
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

strong {
	font-weight: bold
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

img {
	border: 0
}

hr {
	box-sizing: content-box;
	height: 0
}

button,
input {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button {
	text-transform: none
}

button {
	-webkit-appearance: button;
	cursor: pointer
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}


/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
	*,
	*:before,
	*:after {
		background: transparent!important;
		color: #000!important;
		box-shadow: none!important;
		text-shadow: none!important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	a[href^="#"]:after {
		content: ""
	}
	img {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
	.navbar {
		display: none
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 16.2px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
	background-color: #fff
}

input,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #009cde;
	text-decoration: none
}

a:hover,
a:focus {
	color: #2cc0ff;
	text-decoration: underline
}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

img {
	vertical-align: middle
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}

[role="button"] {
	cursor: pointer
}

h1,
h2,
h3,
h4,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px
}

h4,
h6 {
	margin-top: 10px;
	margin-bottom: 10px
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 18px
}

h6 {
	font-size: 12px
}

p {
	margin: 0 0 10px
}

.text-center {
	text-align: center
}

.text-uppercase {
	text-transform: uppercase
}

.text-muted {
	color: #777
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 10px
}

ol ul {
	margin-bottom: 0
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

@font-face {
	font-family: 'FontAwesome';
	src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fa-star:before {
	content: "\f005"
}

html {
	height: 100%;
	touch-action: manipulation
}

ul,
ol,
li {
	padding: 0;
	margin: 0
}

.normal .row {
	margin-left: -10px;
	margin-right: -10px
}

.normal .row:before,
.normal .row:after {
	content: " ";
	display: table
}

.normal .row:after {
	clear: both
}

.normal .col-1 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 8.333333333333332%
}

.normal .col-9 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 75%
}

body {
	min-width: 1020px;
	margin: auto;
	background: #edf1f4;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333;
	height: 100%;
	position: relative;
	top: 0!important
}
body .text-link {
    color: #009cde;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    cursor: pointer;
}

body .page-wrapper {
	min-height: 100%;
	position: relative;
	overflow-x: hidden
}

body input,
body button {
	font-size: 1.142em
}

body input::-ms-clear,
body input::-ms-reveal {
	display: none
}

body a,
body a:hover,
body a:focus,
body a:active {
	text-decoration: none
}

body .clear {
	clear: both
}

body h3 {
	margin: 0;
	color: #333;
	font-weight: 900;
	font-size: 1.57em;
	letter-spacing: -0.015em
}

body h4 {
	margin: 0;
	color: #333;
	font-weight: 900;
	font-size: 1.43em;
	letter-spacing: -0.015em
}

body .page-content {
	width: 1000px;
	margin: 0 auto 20px;
	min-height: 500px;
	position: relative;
	z-index: 0
}