
a[data-goto] {
	cursor: pointer
}

a[data-goto]:hover {
	text-decoration: underline
}

.description-area {
	width: 100%;
	position: relative;
	background-color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #666;
	font-weight: 400;
	margin-top: 23px
}

.bottom-pane {
	height: 0;
	overflow: hidden;
	-webkit-transition: height .3s ease;
	-o-transition: height .3s ease;
	transition: height .3s ease;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #000;
	box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, .2);
	text-align: center
}

.itinerary-left-timeline-pane {
	float: left;
	width: 83.33px;
	margin-top: 132px;
	background: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	padding-right: 18px
}

.itinerary-left-timeline-pane.daybyday,
.itinerary-left-timeline-pane.maps {
	left: auto!important
}

.itinerary-left-timeline-pane .section {
	overflow: hidden
}

.itinerary-left-timeline-pane .section .section-title {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: .5px;
	cursor: pointer;
	margin: 12px 0 3px
}

.itinerary-left-timeline-pane .section .section-title:hover {
	color: #009cde
}

.itinerary-left-timeline-pane .day-boxes {
	position: relative;
	z-index: 0
}

.itinerary-left-timeline-pane .day-box {
	overflow: visible
}

.itinerary-left-timeline-pane .day-box .month {
	font-size: 13px;
	font-weight: 900;
	line-height: 32px;
	width: 28px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	color: #9b9b9b
}

.itinerary-left-timeline-pane .day-box .day {
	font-size: 17px;
	line-height: 32px;
	display: inline-block;
	width: 28px;
	text-align: center;
	font-style: normal
}

.itinerary-left-timeline-pane .day-box.active .day {
	color: #333;
	font-style: normal;
	font-weight: 700
}

.itinerary-left-timeline-pane.maps .stay[data-stay-id="-1"] .day {
	display: none
}

.itinerary-main-pane {
	margin-top: 93px;
	float: right;
	color: #333
}

.itinerary-main-pane.col-9 {
	float: right;
	position: relative;
	right: 171px
}

.itinerary-main-pane .day-title .stay-area {
	font-size: 22px;
	line-height: 1.45;
	color: #333;
	font-weight: 400;
	margin-left: 24px
}

.itinerary-daybyday-pane {
	margin-top: 38px;
	position: relative
}

.itinerary-daybyday-pane .day-block {
	background: #fff
}

.itinerary-daybyday-pane .day-block .stay-area {
	font-size: 22px;
	line-height: 1.45;
	margin-left: 24px;
	min-width: 64px;
	display: inline-block;
	text-align: center;
	line-height: 1
}

.itinerary-daybyday-pane .day-block .stay-area .stayName {
	display: inline-block;
	text-align: left
}

.itinerary-daybyday-pane .day-block:last-child {
	border: 0
}

.itinerary-daybyday-pane .day-block:last-child {
	margin-bottom: 29px
}

.itinerary-daybyday-pane .itinerary-row {
	position: relative;
	z-index: 0;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border: solid 1px #f0eded;
	float: none;
	padding: 30px 0;
	font-size: 15px
}

.itinerary-daybyday-pane .itinerary-row .left-col {
	float: left;
	width: 148px;
	padding-left: 24px;
	min-height: 1px
}

.itinerary-daybyday-pane .itinerary-row .right-col {
	float: left;
	width: 594px;
	padding-right: 24px
}

.itinerary-daybyday-pane .itinerary-row .right-col .secondary-text:first-of-type {
	margin-top: 5px
}

.itinerary-daybyday-pane .itinerary-row .secondary-text {
	color: #9b9b9b;
	font-size: 14px;
	line-height: 24px;
	word-wrap: break-word
}

.itinerary-daybyday-pane .travel-row {
	position: relative;
	font-size: 15px;
	font-weight: 400;
	padding: 0
}

.itinerary-maps-pane {
	width: 913px;
	background: #fff;
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 46px
}

.itinerary-maps-pane .map-stay-title {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	padding: 22px 0 22px 40px
}

.itinerary-maps-pane .map-stay-title .stay-area {
	margin-top: 10px
}

.itinerary-maps-pane .map-stay-title .stay-area .stayName {
	font-size: 24px;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 550px
}

.itinerary-maps-pane .map-stay-title .stay-area .date {
	font-size: 14px;
	color: #9b9b9b;
	line-height: 2
}

.itinerary-maps-pane .map-day-title {
	border-bottom: 1px solid #dedede;
	padding: 22px 0;
	height: 120px;
	border-top: 1px solid #dedede
}

.itinerary-maps-pane .map-day-title .day-title-container {
	float: left;
	display: inline-block
}

.itinerary-maps-pane .map-day-title .day-title-container .day {
	float: left;
	width: 145px;
	text-align: center;
	text-transform: uppercase
}

.itinerary-maps-pane .map-day-title .day-title-container .day .mon {
	margin-top: -3px;
	font-size: 12px;
	font-weight: 900;
	line-height: 2.25;
	letter-spacing: 1px;
	color: #9b9b9b
}

.itinerary-maps-pane .map-day-title .day-title-container .day .date {
	font-size: 36px;
	font-weight: 900;
	line-height: .75
}

.itinerary-maps-pane .map-day-title .day-title-container .day .dow {
	font-size: 12px;
	font-weight: 700;
	line-height: 2.25;
	letter-spacing: 1px
}

.itinerary-maps-pane .map-day-title .day-title-container .in-wrap {
	float: left;
	height: 76px;
	position: relative
}

.itinerary-maps-pane .map-day-title .day-title-container .in-wrap .bar {
	width: 1px;
	background-color: #dedede;
	height: 100%
}

.itinerary-maps-pane .map-day-title .day-title-container .stay-area {
	float: left;
	margin: 0 20px;
	width: 579px
}

.itinerary-maps-pane .map-day-title .day-title-container .stay-area .stayName {
	height: 76px;
	line-height: 76px;
	font-size: 24px;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 550px
}

.itinerary-maps-pane .map-wrap {
	padding: 20px
}

.itinerary-maps-pane #mapCanvas {
	width: 643px;
	height: 470px;
	float: left
}

.itinerary-maps-pane .map-legend {
	width: 215px;
	margin-left: 15px;
	float: left;
	max-height: 470px;
	overflow-y: auto
}

.itinerary-maps-pane .map-legend .slot-date {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 10px
}
.itinerary-maps-pane .map-marker-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: .86em;
    background: #fff;
    color: #fff;
    vertical-align: middle;
    line-height: 20px;
}
.itinerary-maps-pane .map-legend ul li>ul>li.hop-duration, .itinerary-maps-pane .map-legend ol li>ul>li.hop-duration {
    padding: 5px 0 5px 8px;
    height: 31px;
    border-bottom: 1px dashed #e6e6e6;
    border-top: 1px dashed #e6e6e6;
}
.itinerary-maps-pane .map-legend ul li>ul>li.hop-duration a, .itinerary-maps-pane .map-legend ol li>ul>li.hop-duration a {
    font-style: italic;
    color: #666;
}
.itinerary-maps-pane .map-legend .map-marker-circle {
    display: block;
    float: left;
    margin: 8px 8px 8px 5px;
    box-shadow: 0 0 black;
}
.bg-stripe {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFUlEQVQY02NgwA14oZh0BUNLJwgAAGsQANFhg83nAAAAAElFTkSuQmCC)!important;
}

.itinerary-maps-pane .map-legend ol,
.itinerary-maps-pane .map-legend ul {
	list-style: none;
	padding: 0;
	margin: 0
}

.itinerary-maps-pane .map-legend ol .stay-name,
.itinerary-maps-pane .map-legend ul .stay-name {
	border: none!important;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px
}

.itinerary-maps-pane .map-legend ol .stay-name:not(.first-title),
.itinerary-maps-pane .map-legend ul .stay-name:not(.first-title) {
	margin-top: 10px
}

.itinerary-maps-pane .map-legend ol .legendOption,
.itinerary-maps-pane .map-legend ul .legendOption {
	margin-bottom: 10px
}

.itinerary-maps-pane .map-legend .name {
	padding: 8px 0 5px 35px;
	display: block;
	font-weight: 700;
	word-wrap: break-word
}

.attraction-details {
	margin-bottom: 100px
}

.toggle-wrap {
	height: 30px;
	padding: 0;
	text-align: center
}

.more-tours {
	font-size: 18px
}

@keyframes move-progress {
	0% {
		background-position: 0 0
	}
	100% {
		background-position: 50px 50px
	}
}

.block {
	float: left;
	width: 320px;
	height: 320px;
	margin-left: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	color: #fff
}

.block.lg {
	width: 660px
}

.block .box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%
}

.block .in-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.block .text {
	position: relative;
	padding: 0 7.5%;
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.block:focus,
.block:hover {
	color: #fff
}

.block:focus .icon,
.block:hover .icon {
	display: none
}

.block.plan .text {
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s
}

.block.plan:focus .text,
.block.plan:hover .text {
	padding-bottom: 0
}

.block.tour .icon {
	margin: 0 auto 8px;
	width: 24px;
	height: 24px;
	fill: #fff;
	-webkit-transition: transform .4s, opacity .4s;
	-o-transition: transform .4s, opacity .4s;
	transition: transform .4s, opacity .4s
}

.block.tour:focus .icon,
.block.tour:hover .icon {
	opacity: 0;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	display: block
}

.close-button-container {
	position: absolute;
	right: 0;
	margin: 20px 20px
}

.close-button {
	width: 22px;
	height: 22px;
	background: 0;
	position: relative;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer
}

.close-button:before {
	width: 100%;
	background: #bab5bc;
	height: 2px;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

.close-button:after {
	width: 2px;
	background: #bab5bc;
	height: 100%;
	content: "";
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}

.close-button:hover:after,
.close-button:hover:before {
	background: #009cde
}

.resultspage {
	background: #fff
}

.resultspage .page-content {
	width: auto;
	overflow: hidden;
	margin-top: -48px
}

.resultspage .page-content.plan-header-hidden {
	margin-top: 0
}

.resultspage .page-content .plan-content {
	z-index: 0;
	position: relative;
	width: 1000px;
	margin: 0 auto;
	min-height: 100vh
}

.resultspage .page-content .resultpage-content {
	position: relative;
	z-index: 1
}

.resultspage .tab-content {
	position: relative
}

.plan-header {
	position: relative;
	height: 65px;
	z-index: 1
}

.plan-header .plan-header-wrap {
	height: 65px;
	background: #fff;
	-webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2)
}

.plan-header .plan-header-center {
	margin: auto;
	width: 1000px;
	height: 65px
}

.plan-header ul.right {
	float: right;
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	font-size: .86em;
	letter-spacing: .1em;
	height: 65px;
	line-height: 65px
}

.plan-header ul.right li {
	padding: 0 5px;
	float: left;
	cursor: pointer;
	width: 57px
}

.plan-header ul.right li:last-child {
	border-right: 0
}

.plan-header ul.right li .fa {
	font-size: .8em;
	color: #009cde;
	vertical-align: middle;
	line-height: inherit
}

.plan-header ul.right li span {
	line-height: inherit
}

.plan-heading {
	width: 100%;
	overflow: visible;
	background: #fff
}

.plan-heading .plan-text {
	width: 1000px;
	margin: 0 auto 58px;
	padding: 0 0 23px
}

.plan-heading .plan-text .plan-title {
	cursor: pointer;
	width: 100%
}

.plan-heading .plan-text .plan-title .text-container {
	display: table-row
}

.plan-heading .plan-text .plan-title .in-wrap {
	padding: 0 15px;
	width: 48px
}

.plan-heading .plan-text .plan-title .in-wrap .in {
	margin: 2px
}

.plan-heading .plan-text .plan-title .title-area {
	padding: 0
}

.plan-nav {
	float: left;
	position: relative
}