.checked {
  color: orange;
}

/* Style the buttons inside the tab */
.tab a {
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-top: 5px;
  color: #8d8d8d !important;
  cursor: default;
}

/* Change background color of buttons on hover */
.tab a:hover {
  color: #f2f2f2 !important;
}

/* Create an active/current tablink class */
.tab a.active {
  color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#Map {
  margin-bottom: 100px !important;
}
